body {
    margin: 0;
    padding: 0;
    background-image: url(images/drone-image.png);
    background-size: cover;
    font-family: Arial, sans-serif;
}

.container {
    width: 300px;
    margin: auto;
    margin-top: 150px;
    background-color: #ff0000;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

h1 {
    text-align: center;
    color: #fff;
    margin-bottom: 30px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: none;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #fff;
    color: #ff0000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #eaeaea;
}
